body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-box {
    text-align: center;
    font-family: monospace;
}

footer {
    text-align: center;
}